{% extends "page/skeleton.twig" %}

{% block meta_description %}I am Maki Cabrejas, I teach Japanese in Nottingham, United Kingdom or Online via Skype, I also teach Japanese language for Nursing professionals, Learn how to speak Japanese{% endblock %}
{% block title %}Terms and Conditions{% endblock %}

{% block body_class %}terms-and-conditions{% endblock %}

{% block content %}
    <div class="container py-5">

        <div class="row">
            <div class="col-sm-3">
                <nav id="v-pills-tab" role="tablist" class="nav nav-pills nav-fill flex-sm-column">
                    <a id="v-pills-online-tab" data-toggle="pill" role="tab" aria-controls="v-pills-online" class="nav-link nav-item active" aria-selected="true" href="#v-pills-online">Online</a>
                    <a id="v-pills-face-to-face-tab" data-toggle="pill" role="tab" aria-controls="v-pills-face-to-face" class="nav-link nav-item" aria-selected="false" href="#v-pills-face-to-face">Face to Face</a>
                </nav>
            </div>
            <div class="col-sm-9 tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-online" role="tabpanel" aria-labelledby="v-pills-online-tab">
                    <div class="terms-and-conditions">
                        <h1 class="text-uppercase pb-5">Online Terms and conditions</h1>

                        <h3 class="pb-2">Lesson Packages</h3>
                        <p class="pb-2">Lessons are available in package of 1 and 8 lessons.  Package fees, set forth in the table below, must be prepaid and are nonrefundable.  Each lesson package may only be used by the person who purchased it.  All lessons in each package must be completed within the time set forth in the table below, calculated from the date of the first lesson, with the exception of the 1-lesson package, which may be completed at a time arranged with the instructor at time of purchase.</p>
                        <table class="table table-bordered">
                            <thead class="text-center">
                            <tr>
                                <th scope="col">Lessons</th>
                                <th scope="col">60-minute Lessons</th>
                                <th scope="col">30-minute Lessons</th>
                                <th scope="col">Period of Validity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>&pound;25</td>
                                <td>&pound;15</td>
                                <td>To be arranged at time of purchase</td>
                            </tr>
                            <tr>
                                <td class="text-center">8</td>
                                <td>&pound;180 &nbsp;-&nbsp;<span class="text-danger">10% off</span></td>
                                <td>&pound;120</td>
                                <td>12 weeks from date of purchase</td>
                            </tr>
                            </tbody>
                        </table>

                        <h3 class="pb-2">Textbooks</h3>
                        <p class="pb-4">The cost of textbooks is separate, and not included in the lesson fee.</p>

                        <h3>Schedule Changes and Cancellations</h3>
                        <p class="pb-4">There is no fee for changes to lesson time or location, or for cancellations, provided notice of such change or cancellation is provided to the instructor at least 24 hours prior to the time of the scheduled lesson.  If the student fails to give such notice, the lesson fee for such lesson will be forfeited.</p>

                        <h3>Payment</h3>
                        <p class="pb-4">Please pay the lesson fees in advance. There are two ways in which payment can be sent.</p>
                        <dl class="row">
                            <dt class="col-sm-3">Paypal</dt>
                            <dd class="col-sm-9">If you have a PayPal account you can pay me at <a href="https://www.paypal.me/whynotjapanese" target="_blank">paypal.me/whynotjapanese</a></dd>

                            <dt class="col-sm-3">Bank Transfer</dt>
                            <dd class="col-sm-9">
                                <p>If you want to pay by bank transfer I will let you know my bank account by email</p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-face-to-face" role="tabpanel" aria-labelledby="v-pills-face-to-face-tab">
                    <div class="terms-and-conditions">
                        <h1 class="text-uppercase pb-5">Face to Face Terms and conditions</h1>

                        <h3 class="pb-2">Lesson Packages</h3>
                        <p class="pb-2">Lessons are available in package of 1 and 8 lessons.  Package fees, set forth in the table below, must be prepaid and are nonrefundable.  Each lesson package may only be used by the person who purchased it.  All lessons in each package must be completed within the time set forth in the table below, calculated from the date of the first lesson, with the exception of the 1-lesson package, which may be completed at a time arranged with the instructor at time of purchase.</p>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Lessons</th>
                                <th scope="col">60-minute Lessons</th>
                                <th scope="col">Period of Validity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>&pound;25</td>
                                <td>To be arranged at time of purchase</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>&pound;180 &nbsp;-&nbsp;<span class="text-danger">10% off</span></td>
                                <td>12 weeks from date of purchase</td>
                            </tr>
                            </tbody>
                        </table>

                        <h3 class="pb-2 pt-4">Lesson Location</h3>
                        <p class="pb-4">Lessons will normally be held in my office or at a cafe in Nottingham city centre. The student is responsible for any costs incurred by the student at the cafe (for drinks, food, etc.)</p>

                        <h3 class="pb-2">Transportation Costs</h3>
                        <p class="pb-4">The instructor’s round trip transportation costs from station to your nearest station will be charged to the student, and are payable at the beginning of the lesson.</p>

                        <h3 class="pb-2">Textbooks</h3>
                        <p class="pb-4">The cost of textbooks is separate, and not included in the lesson fee.</p>

                        <h3>Schedule Changes and Cancellations</h3>
                        <p class="pb-4">There is no fee for changes to lesson time or location, or for cancellations, provided notice of such change or cancellation is provided to the instructor at least 24 hours prior to the time of the scheduled lesson.  If the student fails to give such notice, the lesson fee for such lesson will be forfeited.</p>

                        <h3>Payment</h3>
                        <p class="pb-4">Please pay the lesson fees in advance. There are two ways in which payment can be sent.</p>
                        <dl class="row">
                            <dt class="col-sm-3">Paypal</dt>
                            <dd class="col-sm-9">If you have a PayPal account you can pay me at <a href="https://www.paypal.me/whynotjapanese" target="_blank">paypal.me/whynotjapanese</a></dd>

                            <dt class="col-sm-3">Bank Transfer</dt>
                            <dd class="col-sm-9">
                                <p>If you want to pay by bank transfer I will let you know my bank account by email</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}